@page "/article/{idioma}/{titulo}"

<PageTitle>@artigo.Titulo</PageTitle>

<main class="conteudo-artigo">
    <aside class="menu-lateral-artigo">
        <nav class="navegacao-capitulos">
            <ul>
                @foreach (var capitulo in artigo.Capitulos)
                {
                    <li>
                        <AnchorLink href="@("#" + capitulo.Titulo.ToSlug())" name="@capitulo.Titulo.ToSlug()">
                            @capitulo.Titulo
                        </AnchorLink>
                    </li>
                }
            </ul>
        </nav>
    </aside>
    <article class="artigo">
        @foreach (var capitulo in artigo.Capitulos)
        {
            <section id="@capitulo.Titulo.ToSlug()" class="capitulo">
                <h1>@capitulo.Titulo</h1>
                <p>@capitulo.Conteudo</p>
            </section>
        }

    </article>
</main>