@page "/articles/{language}/{title}"

@using MyPersonalBlog.Components.Utils.AnchorLink

<PageTitle>@(artigo.Titulo) - @(artigo.Autor.Nome)</PageTitle>

<main class="conteudo-artigo">
    <aside class=@(this.isMenuShowing ?"menu-lateral-artigo" : "menu-lateral-artigo minimized")>
        @if (this.isMenuShowing)
        {
            <nav class="navegacao-capitulos">
                <ul>
                    @foreach (var capitulo in artigo.Capitulos)
                    {
                        <li>
                            <AnchorLink href="@("#" + capitulo.Titulo.ToSlug())" name="@capitulo.Titulo.ToSlug()">
                                @(capitulo.Titulo)
                            </AnchorLink>
                        </li>
                    }
                </ul>
            </nav>
        }
        <button type="button" class=@(this.isMenuShowing ? "botao-redondo" : "botao-redondo minimized")
            @onclick="ToggleMenu">
            <span class=@(this.isMenuShowing ? "ico ico-seta-esquerda" : "ico ico-seta-direita")></span>
        </button>
    </aside>
    <article class=@(this.isMenuShowing ? "artigo" : "artigo menu-minimized")>
        @foreach (var capitulo in artigo.Capitulos)
        {
            <section id="@(capitulo.Titulo.ToSlug())" class="capitulo">
                <h1>@(capitulo.Titulo)</h1>
                @foreach (var paragraph in capitulo.ObterParagrafos())
                {
                    <p>@(paragraph)</p>
                }
            </section>
        }
    </article>
</main>