@page "/articles/{language}/{title}"

<PageTitle>@artigo.Title</PageTitle>

<main class="conteudo-artigo">
    <aside class="menu-lateral-artigo">
        <nav class="navegacao-capitulos">
            <ul>
                @foreach (var capitulo in artigo.Chapters)
                {
                    <li>
                        <AnchorLink href="@("#" + capitulo.Title.ToSlug())" name="@capitulo.Title.ToSlug()">
                            @capitulo.Title
                        </AnchorLink>
                    </li>
                }
            </ul>
        </nav>
    </aside>
    <article class="artigo">
        @foreach (var capitulo in artigo.Chapters)
        {
            <section id="@capitulo.Title.ToSlug()" class="capitulo">
                <h1>@capitulo.Title</h1>
                <p>@capitulo.Content</p>
            </section>
        }

    </article>
</main>