@using MyPersonalBlog.Components.Tag.TagNavigationList;

<article class="item-artigo">
    <nav>
        <NavLink href="@(Artigo.Url)" Match="NavLinkMatch.All">
            <section class="item-artigo-conteudo">
                <h1>@(Artigo.Titulo)</h1>
                <p>@(Artigo.Conteudo)</p>
                <p>Publicado em: @(Artigo.DataDePublicacao.ToString("dd/MM/yyyy"))</p>
            </section>
        </NavLink>
    </nav>
    <TagNavigationList Tags="@Artigo.Tags" AoAdicionarTagNoFiltro="AoAdicionarTagNoFiltro" />
</article>