@page "/article/{idioma}/{titulo}"

<PageTitle>@artigo.Titulo</PageTitle>

<main class="conteudo-artigo">
    <aside class="menu-lateral-artigo">
        <nav class="navegacao-capitulos">
            <ul>
                @foreach (var capitulo in artigo.Capitulos)
                {
                    <li>
                        <AnchorLink href="@("#" + capitulo.Titulo.ToSlug())" name="@capitulo.Titulo.ToSlug()">
                            @capitulo.Titulo
                        </AnchorLink>
                    </li>
                }
            </ul>
        </nav>
    </aside>
    <article class="artigo">
        @foreach (var capitulo in artigo.Capitulos)
        {
            <section id="@capitulo.Titulo.ToSlug()" class="capitulo">
                <h1>@capitulo.Titulo</h1>
                <p>@capitulo.Conteudo</p>
            </section>
        }

    </article>
</main>

@code {
#pragma warning disable CS8618
    [CascadingParameter(Name="IsLoading")]
    private bool? IsLoading { get; set; }

    [Parameter]
    public string Idioma { get; set; }

    [Parameter]
    public string Titulo { get; set; }

    private void SetLoading(bool state) {
        this.IsLoading = state;
        StateHasChanged();
    }

    protected async override Task OnInitializedAsync()
    {
        this.artigo = new("Titulo 1", DateTime.Today)
            {
                Autor = new("Gabriel Santos"),
                Capitulos = new List<Capitulo>()
{
new("Capitulo 1 - caracteristicas de um", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 2 - yabbadabba doo", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 3 - hasdoias asd adsas", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 4 - asd asdasdddd sd", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 5 - adsdas sdas dsa", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 6 - asdasas dasasd", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 7 - iogjiodjfgp", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 8 - ioqwioe oqweiouq oqwe", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 9 - aosidj iouqwe", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 10 - aosidj iouqwe", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 11 - aosidj iouqwe", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
new("Capitulo 12 - aosidj iouqwe", "Laboris ad est ullamco ad ea aute. Amet ipsum esse id incididunt."),
}
            };

        SetLoading(true);
        await Task.Delay(1000);
        SetLoading(false);
    }

    public Artigo artigo;
}